<!DOCTYPE html>
<html lang="en">
<head>
    <title>${currentPage.title}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"/>
    <meta name="description" content="${currentPage.meta.description}" />
    <meta name="keywords" content="${currentPage.meta.keywords}" />
    <sly data-sly-call="${clientLib.css @ categories='trintellix-patient'}"></sly>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
</head>
<body>
<div class="container">
    <div class="pb-2"></div>
    <div class="row">
        <div class="col-12">
            <div class="pl-5 pr-5">
                <div class="row">
                    <div class="col-6">
                        <div class="p-5" style="background:#ddd;">Placeholder</div>
                    </div>
                    <div class="col-6">
                        <sly data-sly-resource="${'cards' @ resourceType='/apps/trintellix-patient/components/content/cards'}" data-model="card"></sly>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-5"></div>
    <div class="row">
        <div class="col-12">
            <div class="pl-5 pr-5">
                <nav>
                    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-usertips-tab" data-bs-toggle="tab" href="#nav-usertips" role="tab"
                           aria-controls="nav-usertips" aria-selected="true">Liked Tips</a>
                        <a class="nav-link" id="nav-moretips-tab" data-bs-toggle="tab" href="#nav-moretips" role="tab"
                           aria-controls="nav-moretips" aria-selected="false">More Tips</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-usertips" role="tabpanel" aria-labelledby="nav-usertips-tab">
                        <div class="p-3">
                            <sly data-sly-resource="${'cardslist' @ resourceType='/apps/trintellix-patient/components/content/cardslist'}" data-model="list"></sly>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-moretips" role="tabpanel" aria-labelledby="nav-moretips-tab">
                        <div class="p-3">
                            <div class="card-lists" id="moreTipsList">Placeholder</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientLib.js @ categories='trintellix-patient'}"></sly>
</sly>
</body>
</html>