<!DOCTYPE html>
<html lang="en">
<head>
    <title>${currentPage.title}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"/>
    <meta name="description" content="${currentPage.meta.description}" />
    <meta name="keywords" content="${currentPage.meta.keywords}" />
    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories=clientLibModel.dependencyClientLib}"></sly>
    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css @ categories=clientLibModel.baseClientLib}"></sly>
    <sly data-sly-test="${wcmmode.preview || wcmmode.edit}" data-sly-call="${clientLib.all @ categories=clientLibModel.authorClientLib}"></sly>
    <!--/* Include Adobe Dynamic Tag Management libraries for the header */-->
    <sly data-sly-include="/libs/cq/cloudserviceconfigs/components/servicelibs/servicelibs.jsp"></sly>
    <!--/* Initializes the Experience Manager authoring UI */-->
    <sly data-sly-include="/libs/wcm/core/components/init/init.jsp"></sly>
    <sly data-sly-call="${clientLib.css @ categories='trintellix-patient'}"></sly>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
</head>
<body>
<div class="clearfix">
    <sly data-sly-resource="${'header' @ resourceType='wcm/foundation/components/parsys'}"></sly>
</div>
<sly data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
     data-sly-repeat.child="${templatedContainer.structureResources}"
     data-sly-resource="${child.path @ resourceType=child.resourceType, decorationTagName='div'}">
</sly>
<!--/*
<sly data-sly-resource="${'header' @ resourceType='/section/header'}"></sly>
<sly data-sly-resource="${'herobanner' @ resourceType='/section/hero-banner'}"></sly>
<sly data-sly-resource="${'cards' @ resourceType='/section/cards'}"></sly>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <sly data-sly-resource="${'cardslist' @ resourceType='/section/cardslist'}"></sly>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <sly
                    data-sly-resource="${'emailsignup' @ resourceType='/section/email_signup'}"
            ></sly>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <sly
                    data-sly-resource="${'content' @ resourceType='/section/isi'}"
            ></sly>
        </div>
    </div>
</div>
<sly data-sly-resource="${'footer' @ resourceType='/section/footer'}"></sly>
*/-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientLib.js @ categories='trintellix-patient'}"></sly>
    <script>Mindful.init();</script>
</sly>
</body>
</html>