<coral-shell-header class="coral--dark coral-Shell-header">
    <coral-shell-header-home class="globalnav-toggle coral-Shell-header-home"
                             data-globalnav-toggle-href="/mnt/overlay/granite/ui/content/shell/globalnav.html" role="heading" aria-level="2">
        <a is="coral-shell-homeanchor" icon="adobeExperienceManagerColor" href="/aem/start.html" class="coral-Shell-homeAnchor" role="heading" aria-level="2"><coral-icon class="coral-Icon coral-Shell-homeAnchor-icon coral-Icon--sizeM coral-Icon--adobeExperienceManagerColor" icon="adobeExperienceManagerColor" size="M" role="img" aria-label="adobe experience manager color"></coral-icon><coral-shell-homeanchor-label class="coral-Shell-homeAnchor-label">Adobe Experience Manager</coral-shell-homeanchor-label></a>
    </coral-shell-header-home>
    <coral-shell-header-actions class="coral-Shell-header-actions">
        <coral-shell-menubar class="coral-Shell-menubar">
            <coral-shell-menubar-item
                    data-foundation-tracking-event="{&quot;feature&quot;:&quot;shell&quot;,&quot;element&quot;:&quot;user&quot;,&quot;type&quot;:&quot;button&quot;,&quot;widget&quot;:{&quot;name&quot;:null,&quot;type&quot;:&quot;button&quot;}}"
                    class="foundation-toggleable-control coral-Shell-menubar-item coral-Shell-menubar-item--default" title="User"
                    data-foundation-toggleable-control-src="/mnt/overlay/granite/ui/content/shell/userproperties.html" icon="userCircleColor"
                    iconsize="M">
                <button is="coral-button" class="coral-Button coral-Button--minimal coral-Shell-menu-button" size="M" variant="minimal" iconsize="S"
                        id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        handle="shellMenuButton">
                    <coral-icon class="coral-Icon coral-Icon--userCircleColor coral-Icon--sizeM" icon="userCircleColor" size="M" role="img"
                                aria-label="user circle color"></coral-icon>
                    <coral-button-label></coral-button-label>
                </button>
                <sly data-sly-resource="${'usernav' @ resourceType='/apps/ezpizee/components/content/usernav'}"></sly>
            </coral-shell-menubar-item>
        </coral-shell-menubar>
    </coral-shell-header-actions>
    <coral-shell-header-content class="coral-Shell-header-content"></coral-shell-header-content>
</coral-shell-header>