<main class="main" id="top" data-sly-use.ezpzPageProps="com.ezpizee.aem.models.PageProperties">
    <div class="container-fluid" data-sly-test="${ezpzPageProps.data.validAppConfig}">
        <nav class="navbar navbar-vertical navbar-expand-lg navbar-light navbar-glass" style="margin-top:52px;">
            <a class="navbar-brand text-left" href="${ezpzPageProps.data.baseUrl}">
                <div class="d-flex align-items-center text-primary py-3">
                    <div class="d-inline-flex flex-center">
                        <img class="mr-2" src="${ezpzPageProps.data.logo}" alt="Ezpizee logo" width="40" />
                        <span class="text-sans-serif sitename">${ezpzPageProps.data.sitename}</span>
                    </div>
                </div>
            </a>
            <sly data-sly-resource="${'mainnav' @ resourceType='/apps/ezpizee/components/content/mainnav'}"></sly>
        </nav>
        <div class="content">
            <div class="mt-3"></div>
            <div id="alert-container" class="commerce-system-error"></div>
            <div id="commerce-spa"><script>var loadDefaultOnInit = true;</script></div>
            <sly data-sly-resource="${'footer' @ resourceType='/apps/ezpizee/components/content/footer'}"></sly>
        </div>
    </div>
</main>