<div class="row flex-center min-vh-100 py-6" data-sly-use.ezpzPageProps="com.ezpizee.aem.models.PageProperties">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8 col-xxl-8">
        <div class="d-block text-center mb-4 sitename">
            <div class="d-inline-flex flex-center">
                <img class="mr-2" src="${ezpzPageProps.data.logo}" alt="Ezpizee" width="58" />
                <span class="text-sans-serif font-weight-extra-bold fs-5 d-inline-block sitename">${ezpzPageProps.data.sitename}</span>
            </div>
        </div>
        <div class="card">
            <div class="card-body p-5">
                <div class="text-center mb-4">
                    <h1 class="m-0">Install Ezpizee</h1>
                    <div><small>A Client ID can have multiple app (i.e. web, desktop, kiosk, etc), but cannot have more than 1 app with the same name.</small></div>
                </div>
                <form id="login-form" class="mod-login" action="${ezpzPageProps.data.installServlet}.html" method="post">
                    <div class="form-group">
                        <input id="username" type="text" name="wc_content_form[username]" class="form-control"
                               autocomplete="new-username" value=""
                               data-validation="required" placeholder="Your Ezpizee username" />
                    </div>
                    <div class="form-group">
                        <input id="client_id" type="text" name="wc_content_form[client_id]" class="form-control"
                               autocomplete="new-client_id" value=""
                               data-validation="required" placeholder="Your Ezpizee Client ID" />
                    </div>
                    <div class="form-group">
                        <input id="client_secret" type="text" name="wc_content_form[client_secret]" class="form-control"
                               autocomplete="new-client_secret" value=""
                               data-validation="required" placeholder="Your Ezpizee Client Secret" />
                    </div>
                    <div class="form-group">
                        <input id="app_name" type="text" name="wc_content_form[app_name]" class="form-control"
                               autocomplete="new-app_name" value=""
                               data-validation="required,length" data-validation-length="8,140"
                               placeholder="App Name (unique, between 16 and 140 characters)" />
                    </div>
                    <div class="form-group">
                        <input id="app_name" type="text" name="wc_content_form[phrase]" class="form-control"
                               autocomplete="new-phrase" value=""
                               data-validation="required,length" data-validation-length="8,24"
                               placeholder="Passcode (between 8 and 24 characters)" />
                        <small>Do not use your Ezpizee Password</small>
                    </div>
                    <div class="form-group" data-sly-test="${ezpzPageProps.data.environments}">
                        <select id="env" name="wc_content_form[env]" class="form-control" data-validation="required">
                            <option value="">Select Environment</option>
                            <sly data-sly-list="${ezpzPageProps.data.environments.keySet.iterator}">
                                <option value="${item}">${ezpzPageProps.data.environments[item]}</option>
                            </sly>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block mt-3" type="submit">Let's Go!</button>
                    </div>
                    <input type="hidden" name="CSRF-Token" value="" />
                    <input data-sly-test="${!ezpzPageProps.data.environments}" type="hidden" name="wc_content_form[env]" value="prod" />
                </form>
            </div>
        </div>
    </div>
</div>