<div class="collapse navbar-collapse jmoddiv" id="navbarVerticalCollapse" data-sly-use.nav="com.ezpizee.aem.models.Nav">
    <ul class="navbar-nav flex-column" data-sly-list="${nav.data.items}">
        <li class="nav-item" data-sly-test="${!item.children}">
            <a href="${item.url}" class="nav-link">
                <div class="d-flex align-items-center">
                    <sly data-sly-test="${item.icon}">
                        <span class="nav-link-icon"><span class="${item.icon}"></span></span>
                        <span>${item.title}</span>
                    </sly>
                    <sly data-sly-test="${!item.icon}">${item.title}</sly>
                </div>
            </a>
        </li>
        <li class="nav-item deeper parent" data-sly-test="${item.children}">
            <a class="nav-link dropdown-indicator" href="#${item.id}" data-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="${item.id}">
                <div class="d-flex align-items-center">
                    <sly data-sly-test="${item.icon}">
                        <span class="nav-link-icon"><span class="${item.icon}"></span></span>
                        <span>${item.title}</span>
                    </sly>
                    <sly data-sly-test="${!item.icon}">${item.title}</sly>
                </div>
            </a>
            <ul class="nav collapse" id="${item.id}" data-parent="#navbarVerticalCollapse" data-sly-list="${item.children}">
                <li class="nav-item">
                    <a href="${item.url}" class="nav-link">
                        <div class="d-flex align-items-center">${item.title}</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>