<div class="row flex-center text-center min-vh-100 py-6">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <a class="d-block text-center mb-4 sitename" href="/">
            <div class="d-inline-flex flex-center">
                <img class="mr-2" src="/images/ezpizee/ezpizee.png" alt="Ezpizee" width="58" />
                <span class="text-sans-serif font-weight-extra-bold fs-5 d-inline-block sitename">Ezpizee</span></div>
        </a>
        <div class="card">
            <div class="card-body p-5">
                <img class="d-block mx-auto mb-4" src="/images/ezpizee/falcon/icons/shield.svg" alt="shield" width="100" />
                <h4>Thanks for using Ezpizee!</h4>
                <p>Click the Sign-out button below to logout.</p>
                <a class="btn btn-primary btn-sm mt-3" href="{{logout_page}}.html"><span class="fas fa-sign-out-alt mr-2"></span>Sign-out</a>
            </div>
        </div>
    </div>
</div>