<!doctype html>
<sly data-sly-use.mod="page.js"></sly>
<sly data-sly-use.wcmModes="/libs/wcm/foundation/components/page/initwcm.js"></sly>
<!--[if lt IE 9]>
<html class="no-js lt-ie9" dir="ltr" lang="${mod.lang}" xmlns="http://www.w3.org/1999/xhtml">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" dir="ltr" data-sly-use.mod="page.js" lang="${mod.lang}" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
    <head>
        <sly data-sly-include="partials/head.html"></sly>
    </head>
    <body class="${mod.bodyClass}" vocab="http://schema.org/" typeof="WebPage">
        <div class="root">
            <sly data-sly-include="content.html"></sly>
        </div>
        <sly data-sly-include="partials/footerscripts.html"></sly>
    </body>
</html>