<script>window.EzpzOverrideEndpoints = {
    csrfToken: "/libs/granite/csrf/token.json",
    scriptUrlRegex: /^(?:http|https):\/\/[^/]+(\/.*)\/(?:etc\.clientlibs|etc(\/.*)*\/clientlibs|libs(\/.*)*\/clientlibs|apps(\/.*)*\/clientlibs|etc\/designs).*\.js(\?.*)?$/,
    refresh_token: "/bin/ezpizee/refresh/token.json",
    expire_in: "/bin/ezpizee/user/auth/expire-in.json",
    get_auth: "/bin/ezpizee/user/auth/data.json",
    loginPageRedirectUrl: "/",
    installPageRedirectUrl: "/content/ezpizee/install.html"
};</script>