<h2>Demo: Include Fragment Component</h2>
<sly data-sly-use.includeFragment="com.ezpizee.aem.models.IncludeFragment" data-sly-test="${includeFragment.data.bodyText}">
    <sly data-sly-test="${includeFragment.data.imageReference}">
        <div class="imageReference">
            <img src="${includeFragment.data.imageReference @ context='attribute'}" alt="Article Image" width="300px"/>
        </div>
    </sly>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td width="200px">Publish start date</td>
            <td>${includeFragment.data.publishStartDate}</td>
        </tr>
        <tr>
            <td>Publish end date</td>
            <td>${includeFragment.data.publishEndDate}</td>
        </tr>
        <tr>
            <td>Excerpt</td>
            <td>${includeFragment.data.excerpt}</td>
        </tr>
        <tr>
            <td>Body Text</td>
            <td>${includeFragment.data.bodyText @ context='html'}</td>
        </tr>
        </tbody>
    </table>
</sly>
<sly data-sly-test="${!properties.fragment}">
    Setup your include fragment component
</sly>