<div class="card-lists" id="userCardsList"
     data-tips-root="${properties.fragmentRootPath}"
     data-disclaimer-path="${properties.disclaimerPath}">
    ${'Loading...' @ i18n, context='unsafe'}
</div>
<script type="text/x-handlebars" data-hbs="userCardsList">
    {{#if isRegistered}}
    {{#unless cards}}
    {{#if moreTips}}
    <p>${'You have liked all the tips. No more tips to show.' @ i18n, context='unsafe'}</p>
    {{else}}
    <p>${'You have not liked any tips yet' @ i18n, context='unsafe'}</p>
    {{/if}}
    {{/unless}}
    {{#each cards}}
    <div class="card mb-3"
         data-card="{{@index}}"
         data-card-uuid="{{uuid}}">
        <div class="row">
            <div class="col-md-5">
                <div class="position-relative">
                    <img src="{{listImgSercMobile}}" class="card-img-top" alt="{{#if altText}}{{altText}}{{else}}{{title}}{{/if}}"/>
                    <img src="{{listImgSercMobile}}" class="card-img-top show-on-mobile" alt="{{#if altText}}{{altText}}{{else}}{{title}}{{/if}}"/>
                    <div class="image-title">
                        {{title}}
                        <h3>{{mindFul.isRegistered}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{#if listTitle}}{{listTitle}}{{else}}{{title}}{{/if}}</h5>
                    <p class="card-text">{{#if listDescription}}{{listDescription}}{{else}}{{description}}{{/if}}</p>
                    <div class="disclaimer text-justify mt-4 mb-2">{{disclaimer}}</div>
                    <div class="d-flex justify-content-between">
                        <a href="#" data-btn-card="{{@index}}" data-btn-card-uuid="{{uuid}}" data-trigger="dismiss">
                            <i class="fas fa-times mr-2"></i> ${'Dismiss' @ i18n, context='unsafe'}
                        </a>
                        <a href="#" data-btn-card="{{@index}}" data-btn-card-uuid="{{uuid}}" data-trigger="addReminder">
                            ${'Add reminder' @ i18n, context='unsafe'} <i class="far fa-calendar-alt ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p>${'Please signin or signup.' @ i18n, context='unsafe'}</p>
    {{/if}}
</script>