<div class="PaymentServiceFieldSet">
    <div class="form-group label-floating">
        <label for="api_key">{{i18n 'api_key'}}</label>
        <input type="text" class="form-control" id="api_key" name="commerce_form[payment_api][api_key]" value="{{item_data.payment_service.api_key}}" />
    </div>
</div>