<ul class="product_attrs_list" data-trigger="sortable">
    {{#each product_attrs_list}}
    <li>
        <label>
            <i class="fas fa-arrows-alt"></i>
            <input type="checkbox" name="commerce_form[product_attrs][]" id="product_attrs" value="{{id}}"
                {{#in_array id ../item_data.product_attrs}} checked{{/in_array}} />
            {{name}}
        </label>
    </li>
    {{/each}}
</ul>