<sly data-sly-use.ezpzPageProps="com.ezpizee.aem.models.PageProperties">
    <sly data-sly-test="${ezpzPageProps.data.validAppConfig}">
        <div class="card mb-3" data-sly-use.commerce="com.ezpizee.aem.models.CommerceData">
            ${commerce.dataAsString}
        </div>
    </sly>
    <div class="container-fluid" data-sly-test="${!ezpzPageProps.data.validAppConfig}">
        <main class="main" id="top" data-sly-use.ezpzPageProps="com.ezpizee.aem.models.PageProperties">
            <sly data-sly-resource="${'install' @ resourceType='/apps/ezpizee/components/content/install'}"></sly>
        </main>
    </div>
</sly>