<sly data-sly-use.head="head.js"></sly>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="180x180" href="/etc/designs/ezpizee/project_common/images/favicons/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/etc/designs/ezpizee/project_common/images/favicons/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/etc/designs/ezpizee/project_common/images/favicons/favicon-16x16.png" />
<link rel="shortcut icon" type="image/x-icon" href="/etc/designs/ezpizee/project_common/images/favicons/favicon.ico" />
<link rel="mask-icon" href="/etc/designs/ezpizee/project_common/images/favicons/safari-pinned-tab.svg" color="#ffffff" />
<meta name="msapplication-TileImage" content="/etc/designs/ezpizee/project_common/images/favicons/mstile-150x150.png" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="theme-color" content="#ffffff" />
<meta name="application-name" content="Ezpizee" />
<meta data-sly-test.keywords="${head.keywords}" name="keywords" content="${keywords}"/>
<meta data-sly-test.description="${head.description}" name="description" content="${description}"/>
<meta property="og:title" content="Ezpizee" />
<meta property="og:type" content="website" />
<meta property="og:description" content="${description}" />
<meta property="og:image:url" content="/etc/designs/ezpizee/project_common/images/ezpizee.png" />
<meta property="og:site_name" content="HealthVoyager" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="HealthVoyager" />
<meta property="twitter:description" content="${description}" />
<meta property="twitter:image" content="/etc/designs/ezpizee/project_common/images/ezpizee.png" />
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css @ categories='ezpizee.common'}"></sly>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css @ categories='ezpizee.components'}"></sly>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css @ categories='ezpizee.commerce.base'}"></sly>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css @ categories='ezpizee.commerce.app'}"></sly>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css @ categories='falcon'}"></sly>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<title>${head.title}</title>