<ul class="navbar-nav align-items-center ml-auto jmoddiv">
    <li class="nav-item dropdown">
        <a class="nav-link pr-0" id="navbarDropdownUser" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="avatar avatar-xl">
                <img class="rounded-circle" src="/etc/designs/ezpizee/project_common/images/test-profile-picture.jpg" alt="profile picture">
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">
            <div class="bg-white rounded-soft py-2">
                <a class="dropdown-item font-weight-bold text-warning" href="javascript:void(0)">
                    <span class="fa fa-user mr-1"></span><span>ezpizeeadmin</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/content/ezpizee/user/profile.html">Profile &amp; account</a>
            </div>
        </div>
    </li>
</ul>